.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	
	animation: cambio 20s infinite alternate;
}

.slider li {
	list-style: none;
}

.slider img {
	width: 900px;
	height: 290px
}

@keyframes cambio{
	0% { margin-left: 0; }
	20% {margin-left: 0; }

	25% {margin-left: -110%;}
	45% {margin-left: -110%;}

	50% {margin-left: -211%;}
	70% {margin-left: -211%;}

	75% {margin-left: -316%;}
	85% {margin-left: -316%;}
	
	90% {margin-left: -422%;}
	100% {margin-left: -422%;} 
}

body {
	width: 900px;
	margin: 0 auto;
	background-image: url(../imagenes/fondo6.jpg);
	background-size: 100%;
	font-family: 'Tillana', cursive;
}

div.Todo {
	background-image: url(../imagenes/fondo4.jpg);
	background-size: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Tillana:400,700);

h2{
	text-align: center;
	font-family: 'Tillana', cursive;
}

header nav {
	width: 10px
	max-width: 100px;
	background-image: url(../imagenes/fondo4.jpg);
}

.menu_bar {
	display: none;
}

header nav ul li{
	float: left;
	list-style: none;
}

header nav ul{
	overflow: hidden;
}

header nav ul li a{
	color: black;
	padding: 2px;
	display: block;
	text-decoration: none;
}

header nav ul li span{
	margin-right: 10px
}

header nav ul li a:hover {
	background-color: #037E8C;
}

@media screen and (max-width: 800px){
	header nav {
		width: 80%
		height: 100%
		left: -100%;
		margin: 0;
		position: fixed;
	}

	header nav ul li {
		display: block;
		float: none;
		border-bottom:1px solid rgba(255, 255, 255, .3);
	}
	.menu_bar {
		display: block;
		width: 100%;
		background-image: url(../imagenes/fondo4.jpg);
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 7px
		background-image: url(../imagenes/fondo4.jpg);
		color: #FFF;
		text-decoration: none;
		font-weight: bold;
		fontsize: 25px;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.menu_bar span {
		font-size: 20px;
	}
}
