@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?z86ruz');
    src:    url('fonts/icomoon.eot?z86ruz#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?z86ruz') format('truetype'),
        url('fonts/icomoon.woff?z86ruz') format('woff'),
        url('fonts/icomoon.svg?z86ruz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-quill:before {
    content: "\e901";
}
.icon-pacman:before {
    content: "\e902";
}
.icon-menu:before {
    content: "\e903";
}

